@import "tailwindcss";
@import "./component.css";

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *))
@custom-variant data-checked (&[data-ui~="checked"]);
@custom-variant theme-midnight (&:where([data-theme="midnight"] *));

@theme {
    --color-clifford: #da373d;
    --color-mint-500: oklch(0.72 0.11 178);
    --color-brand: #3f3cbb;
    --text-mega: 6rem;
    --breakpoint-3xl: 120rem;
}

.typography {
    p {
        color: gray;
    }
}
