@import "tailwindcss";
@import "./component.css";

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *))
@custom-variant data-checked (&[data-ui~="checked"]);
@custom-variant theme-midnight (&:where([data-theme="midnight"] *));

@theme {
    /* --*: initial;
    --spacing: 4px;
    --font-body: Inter; */
}

.typography {
    p {
        color: gray;
    }
}

@layer components {
    .card-title {
        font-size: var(--text-2xl);
        color: var(--color-gray-950);
    }
}
