@import "tailwindcss";
@import "./component.css";

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *))
@custom-variant data-checked (&[data-ui~="checked"]);
@custom-variant theme-midnight (&:where([data-theme="midnight"] *));

@theme {
    --color-*: initial;
    --color-white: #ffffff;
    --color-purple: #3f3cbb;
    --color-midnight: #121063;
}

.typography {
    p {
        color: gray;
    }
}
